#################################
# Maven
#################################
target/
!.mvn/wrapper/maven-wrapper.jar

#################################
# Java
#################################
*.class
hs_err_pid*

#################################
# Logs
#################################
logs/
*.log

#################################
# OS
#################################
.DS_Store
Thumbs.db

#################################
# VS Code
#################################
.vscode/

#################################
# IntelliJ
#################################
.idea/
*.iml

#################################
# Eclipse / STS
#################################
.project
.classpath
.settings/
.springBeans
.sts4-cache

#################################
# NetBeans
#################################
/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

#################################
# Environment / Secrets
#################################
.env
.env.*

#################################
# Certificates
#################################
*.jks
*.p12
*.pem
*.key

cookies.txt
